<!DOCTYPE>
<Html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css"  href="/Agenda/site_media/css/Agenda/style.css" media = "screen"/>		
		<title> Agenda Personal </title>
		<!--[if IE]>
			<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
		<![endif]-->
	</head>
	<body>
		<header>
			<nav>
			<div id="Navegacion">
			</div>
			<!--div id="Navegacion">
					<ul>
						<li ><a class="Seleccionado" href="#">Organizacion</a> </li>
						<li><a href="#">Agenda</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a> </li>
					</ul>					
				</div> -->
				</nav>
					
			<div id = "Banner">
				<hgroup>	
				<h1>Calendario</h1>
				<h2>{MONTH_NAME} {YEAR_NUM}</h2>
				</hgroup>
			</div>
			<div id = "Cuotes">
				
			</div>			
		</header>
		<section>
			<arcticle>
				<div id="Entry">					
					<div id="ContenedorCalendario">
						<table id="Calendario">							
							<tr>
								<th>Domingo</th><th>Lunes</th><th>Martes</th><th>Miercoles</th><th>Jueves</th><th>Viernes</th><th>Sabado</th>
							</tr>								
							<tr>
								<td id="A1" class ="{Estilo_A1}"><a href="{Link_A1}" class="casillacalendario"><div>{Contenido_A1}</div></td>
								<td id="A2" class ="{Estilo_A2}"><a href="{Link_A2}" class="casillacalendario"><div>{Contenido_A2}</div></td>
								<td id="A3" class ="{Estilo_A3}"><a href="{Link_A3}" class="casillacalendario"><div>{Contenido_A3}</div></td>
								<td id="A4" class ="{Estilo_A4}"><a href="{Link_A4}" class="casillacalendario"><div>{Contenido_A4}</div></td>
								<td id="A5" class ="{Estilo_A5}"><a href="{Link_A5}" class="casillacalendario"><div>{Contenido_A5}</div></td>
								<td id="A6" class ="{Estilo_A6}"><a href="{Link_A6}" class="casillacalendario"><div>{Contenido_A6}</div></td>
								<td id="A7" class ="{Estilo_A7}"><a href="{Link_A7}" class="casillacalendario"><div>{Contenido_A7}</div></td>
							</tr>
							<tr>
								<td id="B1" class ="{Estilo_B1}"><a href="{Link_B1}" class="casillacalendario"><div>{Contenido_B1}</div></td>
								<td id="B2" class ="{Estilo_B2}"><a href="{Link_B2}" class="casillacalendario"><div>{Contenido_B2}</div></td>
								<td id="B3" class ="{Estilo_B3}"><a href="{Link_B3}" class="casillacalendario"><div>{Contenido_B3}</div></td>
								<td id="B4" class ="{Estilo_B4}"><a href="{Link_B4}" class="casillacalendario"><div>{Contenido_B4}</div></td>
								<td id="B5" class ="{Estilo_B5}"><a href="{Link_B5}" class="casillacalendario"><div>{Contenido_B5}</div></td>
								<td id="B6" class ="{Estilo_B6}"><a href="{Link_B6}" class="casillacalendario"><div>{Contenido_B6}</div></td>
								<td id="B7" class ="{Estilo_B7}"><a href="{Link_B7}" class="casillacalendario"><div>{Contenido_B7}</div></td>
							</tr>
							<tr>
								<td id="C1" class ="{Estilo_C1}"><a href="{Link_C1}" class="casillacalendario"><div>{Contenido_C1}</div></td>
								<td id="C2" class ="{Estilo_C2}"><a href="{Link_C2}" class="casillacalendario"><div>{Contenido_C2}</div></td>
								<td id="C3" class ="{Estilo_C3}"><a href="{Link_C3}" class="casillacalendario"><div>{Contenido_C3}</div></td>
								<td id="C4" class ="{Estilo_C4}"><a href="{Link_C4}" class="casillacalendario"><div>{Contenido_C4}</div></td>
								<td id="C5" class ="{Estilo_C5}"><a href="{Link_C5}" class="casillacalendario"><div>{Contenido_C5}</div></td>
								<td id="C6" class ="{Estilo_C6}"><a href="{Link_C6}" class="casillacalendario"><div>{Contenido_C6}</div></td>
								<td id="C7" class ="{Estilo_C7}"><a href="{Link_C7}" class="casillacalendario"><div>{Contenido_C7}</div></td>
							</tr>
							<tr>
								<td id="D1" class ="{Estilo_D1}"><a href="{Link_D1}" class="casillacalendario"><div>{Contenido_D1}</div></td>
								<td id="D2" class ="{Estilo_D2}"><a href="{Link_D2}" class="casillacalendario"><div>{Contenido_D2}</div></td>
								<td id="D3" class ="{Estilo_D3}"><a href="{Link_D3}" class="casillacalendario"><div>{Contenido_D3}</div></td>
								<td id="D4" class ="{Estilo_D4}"><a href="{Link_D4}" class="casillacalendario"><div>{Contenido_D4}</div></td>
								<td id="D5" class ="{Estilo_D5}"><a href="{Link_D5}" class="casillacalendario"><div>{Contenido_D5}</div></td>
								<td id="D6" class ="{Estilo_D6}"><a href="{Link_D6}" class="casillacalendario"><div>{Contenido_D6}</div></td>
								<td id="D7" class ="{Estilo_D7}"><a href="{Link_D7}" class="casillacalendario"><div>{Contenido_D7}</div></td>
							</tr>
							<tr>
								<td id="E1" class ="{Estilo_E1}"><a href="{Link_E1}" class="casillacalendario"><div>{Contenido_E1}</div></td>
								<td id="E2" class ="{Estilo_E2}"><a href="{Link_E2}" class="casillacalendario"><div>{Contenido_E2}</div></td>
								<td id="E3" class ="{Estilo_E3}"><a href="{Link_E3}" class="casillacalendario"><div>{Contenido_E3}</div></td>
								<td id="E4" class ="{Estilo_E4}"><a href="{Link_E4}" class="casillacalendario"><div>{Contenido_E4}</div></td>
								<td id="E5" class ="{Estilo_E5}"><a href="{Link_E5}" class="casillacalendario"><div>{Contenido_E5}</div></td>
								<td id="E6" class ="{Estilo_E6}"><a href="{Link_E6}" class="casillacalendario"><div>{Contenido_E6}</div></td>
								<td id="E7" class ="{Estilo_E7}"><a href="{Link_E7}" class="casillacalendario"><div>{Contenido_E7}</div></td>
							</tr>
							<tr>
								<td id="F1" class ="{Estilo_F1}"><a href="{Link_F1}" class="casillacalendario"><div>{Contenido_F1}</div></td>
								<td id="F2" class ="{Estilo_F2}"><a href="{Link_F2}" class="casillacalendario"><div>{Contenido_F2}</div></td>
								<td id="F3" class ="{Estilo_F3}"><a href="{Link_F3}" class="casillacalendario"><div>{Contenido_F3}</div></td>
								<td id="F4" class ="{Estilo_F4}"><a href="{Link_F4}" class="casillacalendario"><div>{Contenido_F4}</div></td>
								<td id="F5" class ="{Estilo_F5}"><a href="{Link_F5}" class="casillacalendario"><div>{Contenido_F5}</div></td>
								<td id="F6" class ="{Estilo_F6}"><a href="{Link_F6}" class="casillacalendario"><div>{Contenido_F6}</div></td>
								<td id="F7" class ="{Estilo_F7}"><a href="{Link_F7}" class="casillacalendario"><div>{Contenido_F7}</div></td>
							</tr>
						</table>
						<div class = "btnAtras"><a href="{LAST_MONTH}" class="btnAtras"> << </a></div>
						<div class = "btnSig"><a href="{NEXT_MONTH}" class="btnSig"> >> </a></div>	
					</div>
								
				</div>
			</article>			
		</section>
		<footer>
			<div id="foterorg">
			</div>
		</footer>
	</body>
</Html>