<!DOCTYPE>
<Html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css"  href="/static/css/style.css" media = "screen"/>
		<title> Organizarte | Agenda tu vida </title>
		<!--[if IE]>
			<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
		<![endif]-->
		<script>
			function login(){
				document.form_login.submit()
			}

			function register(){
				document.form_registro.submit()
			}
		</script>
	</head>
	<body>
		<header>
			<nav>
			<div id="Navegacion">
				<div id = "Logo">ORGANIZARTE</div>
				<div id = "Login">
					<div class="form_login">
						<form action="/login/" method="POST" name="form_login" id="form_login">{% csrf_token %}
							<div class="InputLogin"><input type="text" class="InputLogin" id="username_login"/></div>
							<div class="InputLogin"><input type="password"  class="InputLogin" id="password_login"/></div>
						</form>
					</div>
					<div class="btnLogin"><a id="btn_login" href="javascript:login()"/>Inicio</a></div>
				</div>
			</div>
			</nav>
					
			<div id = "Banner">
				<hgroup>	
				<h1>Organizacion 1.0</h1>
				<h2>Programacion de tus eventos </h2>
				</hgroup>
			</div>
			<div id = "Cuotes">				
			</div>
			
		</header>
		<section>
			<arcticle>
				<div id="Entry">
					<div id = "Descrip">
						<h3>Inicia</h3>
						<p>Comienza a organizar tu tiempo de forma eficiente. Aumenta tu productividad 
						y empieza a tener tu agenda al dia.</p>
					</div>
					
					<div ="Registro">						
						<form action="/register/" method="POST" name="form_registro" id="form_registro">{% csrf_token %}
							<table class="Registro">{% csrf_token %}								
								<tr>
									<td>Nombre</td><td><div class="InputRegistro">
									<input type="text" id="username"/></div></td>
								</tr>
								<tr>
									<td>Correo</td><td><div class="InputRegistro">
									<input type="text" id="email"/></div></td>
								</tr>
								<tr>
									<td>Password</td><td><div class="InputRegistro">
									<input type="password" id="password"/></div></td>
								</tr>
								<tr>
									<td>Confirmacion</td><td><div class="InputRegistro">
									<input type="password" id="password2"/></div></td>
								</tr>					
							</table>							
						</form>
						<div id ="divbtnReg" class="button"><a href="javascript:register()">Registrate</a></div>
					</div>						
					<div class="errores">
						{% if errors %}
							<p> {{ errors }} </p>
						{% endif %}
					</div>
				</div>				
			</article>			
		</section>
		<footer>
		<div id="foterorg">
		</div>
		</footer>
	</body>
</Html>